
@{
    ViewBag.Title = "AddToCart";
}
@*
    <h2>AddToCart</h2>
    <h3>From:</h3>
    <input type="date" />

    <h3>To:</h3>
    <input type="date" />
    <h3>
        <input type="checkbox" value="T2" name="T2" id="T2" />
        <label for="T2">Thứ 2</label>
        <input type="checkbox" value="T3" id="T3" />
        <label for="T3">Thứ 3</label>
        <input type="checkbox" value="T4" id="T4" />
        <label for="T4">Thứ 4</label>
        <input type="checkbox" value="T5" id="T5" />
        <label for="T5">Thứ 5</label>
        <input type="checkbox" value="T6" id="T6" />
        <label for="T6">Thứ 6</label>
        <input type="checkbox" value="T7" id="T7" />
        <label for="T7">Thứ 7</label>
        <input type="checkbox" value="CN" id="CN" />
        <label for="CN">Chủ nhật</label>
    </h3>
    <h4 class="total"> Total:</h4>
*@