
@model ClientApp.Models.ClientEntity
@{
    string notication = ViewBag.Error;
    if (notication != null)
    {
        <Script>
    alert('@notication');</Script>
    }

}

<div class="row">
    <div class="login">
        <form action="/Home/Login/" method="post" class="login-block">
            
            <div class="input-group">
                <h1 class="login-text">
                    Login
                </h1>
                <input type="text" name="username" placeholder="Username:" class="input-field"/>
                <input type="password" name="password" placeholder="Password:" class="input-field"/>
                <button type="submit" class="btn"> Đăng nhập</button>
            </div>

        </form>
        <form action="/Home/Register/" method="post" class="login-block">
            
            <div class="input-group">
                <h1 class="login-text">
                    Register
                </h1>
                <input type="text" name="username" placeholder="Username:" class="input-field"/>
                <input type="password" name="password" placeholder="Password:" class="input-field"/>
                <input type="text" name="fullname" placeholder="Fullname:" class="input-field"/>
                <input type="email" name="email" placeholder="Email:" class="input-field"/>
                <input type="tel" name="phone" placeholder="Phone:" class="input-field"/>
                <input type="text" name="address" placeholder="Address:" class="input-field"/>
                <input type="checkbox" class="chech-box"><span>I agree to the teems & conditions</span>
                <button type="submit" class="btn btn-primary">Registe</button>
            </div>
        </form>
    </div>
</div>
