* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.row {
    display: flex;
    padding: 15px;
}
/*** NAV***/
.nav {
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    min-height: 8vh;
    justify-content: space-between;
    z-index: 1;
    transition: all 0.5s;
    transition-timing-function: ease-in;
    background-color: white;
    border-bottom: black solid 2px;
}

.nav__logo {
    width: 80px;
    object-fit: contain;
}

.nav__content {
    align-content: center;
    display: block;
    padding: 0.5rem 1rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    list-style: none;
}
.nav__avatar {
    width: 30px;
    object-fit: contain;
}
.nav__links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    
}

.nav__link {
    color: #0d6efd;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    line-height: 40px;
}
.burger {
    display: none;
}
.burger div {
    width: 25px;
    height: 5px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease
}

@media screen and (max-width: 1024px) {
    .nav__links {
        width: 60%
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden
    }

    .nav__links {
        position: absolute;
        right: 0px;
        /* height: 92vh;*/
        width: 50%;
        top: 8vh;
        background-color: red;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .burger {
        display: block;
    }
}
.nav__active {
    transform: translateX(0%);
}
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px)
    }    
    to {
        opacity: 1;
        transform: translateX(0px)
    }
}
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 9px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -9px);
}
/**CARD**/
.card {
    background-color: gainsboro;
    border-radius: 25px;
    margin: 10px;
    width: 75%;
}

.card-img {
    width: 200px;
    height: 200px;
}
.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
}
.card-header, .card-title {
    text-transform: uppercase;
    font-weight: bold;
    color:white
}
.card-link {
    background-color: white;

}
.body {
    align-items: center;
    justify-content: center;
}


/*** PRICETABLE***/
.pricing-row {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 10px;
}
.pricing-table {
    margin: 0 10px;
    max-height: 300px;
    object-fit: contain;
    margin-right: 10px;
    transition: transform 300ms;
}
.pricing-table:hover {
    transform: scale(1.2);
    background-color: white;
}
.pricing-table::after {
    display: table;
    clear: both;
    content: "";
}
.pricing-table > div {
    display: block;
    float: left;
    width: 250px;
    min-height: 5px;
}
.pricing-table > div ::not(:last-child) {
    margin-right: 2%;
}
.pricing-block {
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
}
.pricing-header {
    height: auto;
    padding: 30px 20px 40px;
}
.pricing-heading {
    height: 70px;
    font-weight: bold;
    font-size: 1.4rem;
}
.pricing-price {
    color: #777;
}
.pricing-price > span {
    display: inline-block
}
pricing__currency {
    margin-top: 8px;
    vertical-align: top;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1;
    opacity: 0.6;
}
.pricing-button {
    display: block;
    padding: 20px;
    text-decoration: none;
    background-color: black;
    color: white;
}
/*** Order Form***/
.orderform {
    width: 80%;
}
.orderform-title {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center
}
.orderform-price {
    font-size: 30px;
    color: #006400;
}
.orderform-tabchoose {
    display: flex;
}
.orderform-choose {
    padding: 10px
}
.orderform-total {
    text-transform: uppercase;
    font-size: 30px;
    color:red
}
.orderform-button {
    display: block;
    padding: 20px;
    text-decoration: none;
    background-color: #0069d9;
    color: white;
}
.orderform-group {
    padding: 10px
}
.orderform-label {
    width: 100px;
}

.login {
    position: absolute;
    width: 100%;
left: 25%
}
.login-block {
    max-width: 550px;
    min-height: 400px;
    background-color: rgba(0,0,0,0.8);
    padding: 30px;
    border-radius: 5px;
    display: flex;
    float: left
}
.input-group {
   
    margin: 0 10px;
}
.input-field {
    margin: 10px 0;
    background-color: transparent;
    border: 0px;
    border-bottom: 2px solid #c5ecfd;
    width: 100%;
}
.input-field::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: white;
        opacity: 1; /* Firefox */
    }

    .input-field:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: white;
        opacity: 1; /* Firefox */
    }

    .input-field::-ms-input-placeholder { /* Microsoft Edge */
        color: white;
        opacity: 1; /* Firefox */
    }
input[type="text"], input[type="password"], textarea, select {
    outline: none;
}
.btn {
    background-color: #39b7dd;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    width: 100%

}