@model IEnumerable<ClientApp.Models.ServiceEntity>

@{
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
    ViewBag.Title = Layout;

}

<div class="w3-section">
    <div class="table-responsive" id="table">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>No.</th>
                <th style="width:20%">Name</th>
                <th>Description</th>
                <th>Actived</th>
                    
            </tr>
            </thead>
            <tbody class="accordion" id="accordionExample">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.idService</td>
                    <td>@item.nameservice</td>
                    <td>@item.description</td>
                    <td>@item.actived</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>